<nav class="side-navbar">
  <div class="side-navbar-wrapper">
      <div class="sidenav-header d-flex align-items-center justify-content-center">
          <div class="sidenav-header-inner text-center">
              <img src="img/avatar-1.jpg" alt="person" class="img-fluid rounded-circle">
              <h2 class="h5 text-uppercase">Anderson Hardy</h2>
              <span class="text-uppercase">Web Developer</span>
          </div>
          <div class="sidenav-header-logo">
              <a href="index.html" class="brand-small text-center"> <strong>B</strong><strong class="text-primary">D</strong></a>
          </div>
      </div>
      <div class="main-menu">
          <ul id="side-main-menu" class="side-menu list-unstyled">
              <li >
                  <a [routerLink]="['/home']"> <i class="icon-home"></i><span>Home</span></a>
              </li>
              <li >
                <a [routerLink]="['/login']"> <i class="icon-home"></i><span>Login</span></a>
            </li>
          </ul>
      </div>
      <div class="admin-menu">
          <ul id="side-admin-menu" class="side-menu list-unstyled">
              <li>
                  <a href="#pages-nav-list" data-toggle="collapse" aria-expanded="false">
                      <i class="icon-interface-windows"></i><span>Lorem Ipsum</span>
                      <div class="arrow pull-right">
                          <i class="fa fa-angle-down"></i>
                      </div>
                  </a>
                  <ul id="pages-nav-list" class="collapse list-unstyled">
                      <li>
                          <a href="#">Page 1</a>
                      </li>
                      <li>
                          <a href="#">Page 2</a>
                      </li>
                      <li>
                          <a href="#">Page 3</a>
                      </li>
                      <li>
                          <a href="#">Page 4</a>
                      </li>
                  </ul>
              </li>
              <li>
                  <a href="#"> <i class="icon-screen"> </i><span>Demo</span></a>
              </li>
              <li>
                  <a href=""> <i class="icon-picture"> </i><span>Demo</span></a>
              </li>
          </ul>
      </div>
  </div>
</nav>